body {
	background-image: url(https://images.unsplash.com/photo-1588097257570-59b6f7360bfb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YWVzdGhldGljJTIwcGlua3xlbnwwfHwwfHx8MA%3D%3D);
	text-align: center;
}

h2 {
	text-align: center;
}

image {
	align-items: center;
	border-radius: round;
}

.w3-container {
	margin-top: 5%;
	margin-left: 13%;
	margin-right: 13% ;
	margin-bottom:3%;
	background-color: #FFA38F;
	border-style: solid;
	border-color: #B82132;
	padding: 3%;
}

button {
	margin-top:10px;
	margin-bottom:10px;
}

.C-container {
	margin-left: 20%;
	margin-right: 20% ;
	margin-bottom:2%;
	background-color: #F8C4B4;
	border-style: solid;
	border-color: #B82132;
	padding: 2%;
	color:black;
}